body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.calculator{
    width: 100%;
    height: 100vh;
    background-color: #ffefff;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
input{
    width:40px;
    height: 40px;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    font-size: small;
    color: #ffefff;
    background-color: black;

}
.display input{
    background-color:white;
    border-radius: 10px;
    height:40px;
    width: 200px;
    display: flex;
    align-items: center;
    margin: 5px;
    padding: 5px;
    display: flex-end;
    color:black;
    
}
.cal{
    background-color: rgba(0, 0, 0, 0.363);
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
}
.to{
    width: 80px ;

}